# 게임 원본/추출/파생 데이터는 절대 커밋 금지 (저작물)
*.iso
*.dol
*.thp
*.adp
*.sam
*.brstm
*.SPB
*.vsc
*.dat
*.arc
*.tpl
*.bnr
*.ARC
*.sdi
files/
sys/
patched_files/
font_preview/
patched_preview/
auto_patch_work/
font_candidates/
__pycache__/
*.pyc

# 중간 버전 산출물은 저장소에 두지 않음 (GitHub Releases로 배포)
# 최종 패치만 루트에 유지
DIAG*.xdelta
*_source.zip
